body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

#header {
  text-align: center;
  z-index: 5;
  background-color: white;
  margin: 0;
  padding: 21px 0;
  border-bottom: 1px solid #ddd;
}

#header h1{
  margin: 0;
}

ul{
  list-style: none;
  padding-left: 0;
}

#categories {
  width: 175px;
  float: left;
  z-index: 5;
  background-color: white;
  border-right: 1px solid #ddd;
}

#categories > li {
  text-transform:uppercase;
}

#categories li span{
  border-bottom: 1px solid #ddd;

  margin: 0;
  padding: 10px 0;
  
  cursor: pointer;
  width: 175px;
  display: inline-block;
}

#categories li.selected span {
  background-color: #eee;
}

#categories li ul {
  display: none;
  margin: 0 10px;
}

#categories li li {
  color: #555;
  font-size: 13px;
  padding: 5px 0;
}

#categories li li:before {
  content:"\2013";
}

#bubbles {
  margin-left: 180px;
  margin-right: 260px;
  position: relative;
}

#posts{
  width: 250px;
  border-left: 1px solid #ddd;
  float: right;
  list-style: none;
  height: 600px;
}

#posts li {
  border: 1px solid #999;
  margin: 10px;
  padding: 10px;
  font-size: 11px;
}

.bubble {
  z-index: -5;
  position: absolute;
  border: 3px solid rgba(200,200,200,.5);
  opacity: 0.95;
  border-radius: 175px;
  line-height: 175px;
  text-align: center;
  width: 175px;
  height: 175px;
  background-size:175px 175px;
  
  /* ADDED IN READY FUNCTION
  transition: 1.9s;
  -webkit-transition: 1.9s; 
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  */
}