body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color:#fff;
  transform-style: preserve-3d; /* this line fixes the flicker problem */
  -webkit-transform-style: preserve-3d;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

#header {
  text-align: center;
  z-index: 5;
  background-color:#fff;
  margin: 0;
  padding: 21px 0;
  border-bottom: 1px solid #afafaf;
}

#header h1{
  margin: 0;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#categories {
  width: 175px;
  float: left;
  z-index: 5;
  
  background-color:#fff;
  border-right: 1px solid #afafaf;
}

#categories ul {
}

#categories > li {
  text-transform:uppercase;
}

#categories li span{
  border-bottom: 1px solid #afafaf;

  margin: 0;
  padding: 10px 0;
  
  cursor: pointer;
  width: 175px;
  display: inline-block;
}

#categories li span:hover {
  background-color: #eee;
}

/*
#categories  li:last-child span {
  border-bottom: 1px solid #eee;
}
*/

#categories li.selected span {
  background-color: #ddd;
}

#categories li ul {
  display: none;
}

#categories li li {
  color:#6D8E99;
  font-size: 13px;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
  margin-left: 10px;
}

#categories li li:hover {
  
  background-color:#fff;
  cursor: pointer;
}

#categories li li:before {
  content:"\2013";
}

#bubbles {
  margin-left: 180px;
  margin-right: 260px;
  position: relative;
}

#posts{
  width: 250px;
  border-left: 1px solid #afafaf;
  float: right;
  list-style: none;
}

#posts li {
  border: 1px solid #afafaf;
  margin: 15px;
  padding: 12px;
  font-size: 11px;
  cursor: pointer;
  
  transition: .3s;
  -webkit-transition: .3s;
}

#posts li:hover {
  background-color: #eee;
  border-color: #ccc;
}

#posts li.bubble_hover {
  background-color: #eee;
  border-color: #ccc;
  color: #222;
  border-left: 3px solid #222;
}

.bubble {
  z-index: -5;
  position: absolute;
  border: 3px solid rgba(200,200,200,.5);
  opacity: 0.8;
  border-radius: 170px;
  line-height: 170px;
  text-align: center;
  width: 170px;
  height: 170px;
  background-size:170px 170px;
  
  /* ADDED IN READY FUNCTION
  transition: 1.9s;
  -webkit-transition: 1.9s; 
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  */
  
  transition: 
    opacity .3s,
    transform .3s,
    border-color .3s;
  -webkit-transition: 
    opacity .3s,
    -webkit-transform .3s,
    border-color .3s;
}

.bubble:hover {
  opacity: 1.0;
  cursor: pointer;
  transform: scale(1.1);
  border-color: #333;
  -webkit-transform: scale(1.1);
  z-index: 3;
}

.bubble.post_hover{
  opacity: 1.0;
  border-color: #333;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 3;
} 
